<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="apps-accessories-menu" label="Accessories">
  <item label="Calculator">
    <action name="Execute">
      <command>gnome-calculator</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Character Map">
    <action name="Execute">
      <command>gnome-character-map</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Ark File Archiver">
    <action name="Execute">
      <command>ark</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-editors-menu" label="Editors">
  
  <item label="Geany">
    <action name="Execute">
      <command>geany</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>geany</wmclass>
      </startupnotify>
    </action>
  </item>
  
  <item label="GVim">
    <action name="Execute">
      <command>gvim</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>GVim</wmclass>
      </startupnotify>
    </action>
  </item>
  
</menu>

<menu id="apps-term-menu" label="Terminals">

<item label="Terminator">
    <action name="Execute">
      <command>terminator</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
 

  <item label="Konsole">
    <action name="Execute">
      <command>konsole</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>

   <item label="Xterm">
    <action name="Execute"><command>xterm</command></action>
  </item>
  
</menu>

<menu id="apps-net-menu" label="Internet">
 <item label="Firefox">
    <action name="Execute">
      <command>C:\Users\msamec\AppData\Local\Mozilla Firefox\firefox.exe</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Pidgin">
    <action name="Execute">
      <command>pidgin</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-office-menu" label="Office">

  <item label="OpenOffice">
    <action name="Execute">
      <command>ooffice</command>
    </action>
  </item>
  
</menu>

<menu id="apps-fileman-menu" label="File Managers">
  
  <item label="PCMan File Manager">
    <action name="Execute">
      <command>pcmanfm</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-graphics-menu" label="Graphics">

  <item label="Gimp">
    <action name="Execute">
      <command>C:\Users\msamec\Documents\Apps\GIMP\GIMPPortable\GIMPPortable.exe</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  
  <item label="Gwenview">
    <action name="Execute">
      <command>gwenview</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  
  <item label="Inkscape">
    <action name="Execute">
      <command>C:\Users\msamec\Documents\Apps\Inkscape\InkscapePortable\InkscapePortable.exe</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="system-menu" label="System">
  <item label="Openbox Configuration Manager">
    <action name="Execute">
      <command>obconf</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Gnome Control Center">
    <action name="Execute">
      <command>gnome-control-center</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="KDE Control Center">
    <action name="Execute">
      <command>kcontrol</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Xfce Settings">
    <action name="Execute">
      <command>xfce-setting-show</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Manage Cups Printers">
    <action name="Execute">
      <command>xdg-open http://localhost:631/</command>
      <startupnotify>
        <enabled>no</enabled>
        <icon>cups</icon>
      </startupnotify>
    </action>
  </item>
  <separator />
  <item label="Reconfigure Openbox">
    <action name="Reconfigure" />
  </item>
</menu>

<menu id="root-menu" label="Openbox 3">
  
  <item label="Terminator">
    <action name="Execute">
      <command>terminator</command>
    </action>
  </item>
  
  <item label="Xterm">
    <action name="Execute">
		<command>xterm</command>
    </action>
  </item>
  
  
  <item label="Xterm black">
    <action name="Execute">
		<command>xterm  -rv +tb</command>
    </action>
  </item>


  <item label="Xterm black menu true-type">
    <action name="Execute">
		<command>xterm -fa "DeJaVuSans" -fs 9 -rv</command>
    </action>
  </item>
  
  <separator label="Applications" />
  <menu id="apps-editors-menu"/>
  <menu id="apps-accessories-menu"/>
  <menu id="apps-graphics-menu"/>
  <menu id="apps-net-menu"/>
  <menu id="apps-office-menu"/>
  <menu id="apps-term-menu"/>
  <menu id="apps-fileman-menu"/>
  <separator label="System" />
  <menu id="system-menu"/>
  <separator />
  <item label="edit rc.xml">
    <action name="Execute"><command>xterm +tb -e vim ~/.config/openbox/rc.xml</command></action>
  </item>
  
  <separator />
  
  <item label="edit menu.xml">
    <action name="Execute"><command>xterm +tb -e vim ~/.config/openbox/menu.xml</command></action>
  </item>
  
  <separator />
  
  <item label="edit autostart">
    <action name="Execute"><command>xterm +tb -e vim ~/.config/openbox/autostart</command></action>
  </item>
  
  <separator />
  
  <item label="Log Out">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>
</menu>

</openbox_menu>
